<p>
  <button  class="btn btn-lg btn-primary" ng-click="loginNewPlayer()" ng-show="playerRefId === undefined">I want to play!</button>
  <button  class="btn btn-lg btn-primary" ng-click="newGame()" ng-show="playerRefId != undefined" ng-disabled="players.length < 2">New game</button>
  <button  class="btn btn-lg btn-primary" ng-show="isAdmin" ng-click="kickAllPlayers()">Kick all players</button>
</p>

<div class="container">
  <h1>Simon Bomb!</h1>
  <p class="lead">
    How many can you remember?
  </p>
</div>

<div id="board">
  <ul id="player-tabs" ng-show="players.length" class="nav nav-tabs">
    <li ng-repeat="player in players" ng-class="{'active': $index===$parent.currentPlayerIdx.$value}">
      <a ng-class="{ 'my-turn': isMyTurn }">
        <img ng-src="{{'images/animals/' + player.image}}" style="max-width:32px;">
      </a>
    </li>
  </ul>

  <div id="simon-container" class="jumbotron container" ng-class="{ 'my-turn': isMyTurn }">
    <div class="col-xs-6" ng-show="gameState.$value != 'game-over'">
      <p><button class="btn btn-lg btn-success simon-btn" ng-click="pickColor('Green');" ng-disabled="!isMyTurn">Green</button></p>
      <p><button class="btn btn-lg btn-danger simon-btn" ng-click="pickColor('Red');" ng-disabled="!isMyTurn">Red</button></p>
    </div>
    <div class="col-xs-6" ng-show="gameState.$value != 'game-over'">
      <p><button class="btn btn-lg btn-warning simon-btn" ng-click="pickColor('Yellow');" ng-disabled="!isMyTurn">Yellow</button></p>
      <p><button class="btn btn-lg btn-info simon-btn" ng-click="pickColor('Blue');" ng-disabled="!isMyTurn">Blue</button></p>
    </div>
    <div ng-show="gameState.$value == 'game-over'">
      <h1>GAME OVER</h1>
    </div>
  </div>

</div>

<div ng-show="isAdmin">
  <h1 id="timer">00:00</h1>

  <p class="lead">Color sequence:</p>
  <ul id="colors" ng-show="simonSequence.length">
    <li ng-repeat="color in simonSequence">{{color.text}}</li>
  </ul>

  <p class="lead">Players:</p>
  <ul id="players" ng-show="players.length">
    <li ng-repeat="player in players" ng-class="{'currentPlayer': $index==$parent.currentPlayerIdx.$value}">{{player.uid}}</li>
  </ul>

</div>
