<p>
  <button  class="btn btn-lg btn-primary" ng-click="loginNewPlayer()">I want to play!</button>
  <button  class="btn btn-lg btn-primary" ng-click="newGame()">New game</button>
</p>
<div class="jumbotron">
  <h1>Simon Bomb!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    How many can you remember?
  </p>
  <p><a class="btn btn-lg btn-success"  ng-click="pickColor('Green');">Green</a></p>
  <p><a class="btn btn-lg btn-info" ng-click="pickColor('Blue');">Blue</a></p>
  <p><a class="btn btn-lg btn-warning" ng-click="pickColor('Yellow');">Yellow</a></p>
  <p><a class="btn btn-lg btn-danger" ng-click="pickColor('Red');">Red</a></p>

  <div id="timer">00:00</div>
</div>

<ul id="colors" ng-show="simonSequence.length">
  <li ng-repeat="color in simonSequence">{{color.text}}</li>
</ul>

<p class="lead">Players:</p>
<ul id="players" ng-show="players.length">
  <li ng-repeat="player in players">{{player.uid}}</li>
</ul>
